# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes Apache Tomcat and Process Types for WARs"
  homepage = "https://github.com/paketo-buildpacks/apache-tomcat"
  id = "paketo-buildpacks/apache-tomcat"
  keywords = ["java", "tomcat", "war"]
  name = "Paketo Apache Tomcat Buildpack"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/apache-tomcat/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/helper", "bin/main", "buildpack.toml", "resources/context.xml", "resources/logging.properties", "resources/server.xml", "resources/web.xml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    description = "the Tomcat access logging state"
    launch = true
    name = "BPL_TOMCAT_ACCESS_LOGGING_ENABLED"

  [[metadata.configurations]]
    build = true
    description = "the application context path"
    name = "BP_TOMCAT_CONTEXT_PATH"

  [[metadata.configurations]]
    build = true
    description = "the SHA256 hash of the external Tomcat configuration archive"
    name = "BP_TOMCAT_EXT_CONF_SHA256"

  [[metadata.configurations]]
    build = true
    default = "0"
    description = "the number of directory components to strip from the external Tomcat configuration archive"
    name = "BP_TOMCAT_EXT_CONF_STRIP"

  [[metadata.configurations]]
    build = true
    description = "the download location of the external Tomcat configuration"
    name = "BP_TOMCAT_EXT_CONF_URI"

  [[metadata.configurations]]
    build = true
    description = "the version of the external Tomcat configuration"
    name = "BP_TOMCAT_EXT_CONF_VERSION"

  [[metadata.configurations]]
    build = true
    default = "9.*"
    description = "the Tomcat version"
    name = "BP_TOMCAT_VERSION"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:8.5.76:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@8.5.76"
    sha256 = "41942b6e0f216649ebc129301f62d3ef11c20e5230b333db58517ee306536e5e"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://archive.apache.org/dist/tomcat/tomcat-8/v8.5.76/bin/apache-tomcat-8.5.76.tar.gz"
    version = "8.5.76"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:9.0.58:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@9.0.58"
    sha256 = "a7895a9f425dd57fba5a1e8685d43754d3ecfe05de80e93bfd245ca8313cc7c1"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://downloads.apache.org/tomcat/tomcat-9/v9.0.58/bin/apache-tomcat-9.0.58.tar.gz"
    version = "9.0.58"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:10.0.16:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@10.0.16"
    sha256 = "4931f74f8b564d937a95b8afca43a187b94489c2a1fa4d17551acb6cca2d5051"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://downloads.apache.org/tomcat/tomcat-10/v10.0.16/bin/apache-tomcat-10.0.16.tar.gz"
    version = "10.0.16"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-access-logging-support:3.3.0:*:*:*:*:*:*:*"]
    id = "tomcat-access-logging-support"
    name = "Apache Tomcat Access Logging Support"
    purl = "pkg:generic/tomcat-access-logging-support@3.3.0"
    sha256 = "49f9acac1bed65c683276d662c985ed63c685a603e7f5b72f732673bb826a0d4"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo.spring.io/release/org/cloudfoundry/tomcat-access-logging-support/3.3.0.RELEASE/tomcat-access-logging-support-3.3.0.RELEASE.jar"
    version = "3.3.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-lifecycle-support:3.3.0:*:*:*:*:*:*:*"]
    id = "tomcat-lifecycle-support"
    name = "Apache Tomcat Lifecycle Support"
    purl = "pkg:generic/tomcat-lifecycle-support@3.3.0"
    sha256 = "b725f4cae0be4a999a08ed978b29081edfd68a187a926ed740cc1f8e9aca70ce"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo.spring.io/release/org/cloudfoundry/tomcat-lifecycle-support/3.3.0.RELEASE/tomcat-lifecycle-support-3.3.0.RELEASE.jar"
    version = "3.3.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-logging-support:3.3.0:*:*:*:*:*:*:*"]
    id = "tomcat-logging-support"
    name = "Apache Tomcat Logging Support"
    purl = "pkg:generic/tomcat-logging-support@3.3.0"
    sha256 = "46db58c1d8ef2555d7053a12d669daefb676e9a17a2a1771cd60c95bcb210b0d"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "*"]
    uri = "https://repo.spring.io/release/org/cloudfoundry/tomcat-logging-support/3.3.0.RELEASE/tomcat-logging-support-3.3.0.RELEASE.jar"
    version = "3.3.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "*"
