# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes Apache Tomcat and Process Types for WARs"
  homepage = "https://github.com/paketo-buildpacks/apache-tomcat"
  id = "paketo-buildpacks/apache-tomcat"
  keywords = ["java", "tomcat", "war"]
  name = "Paketo Buildpack for Apache Tomcat"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/apache-tomcat/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/helper", "bin/main", "buildpack.toml", "resources/context.xml", "resources/logging.properties", "resources/server.xml", "resources/web.xml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    description = "the Tomcat access logging state"
    launch = true
    name = "BPL_TOMCAT_ACCESS_LOGGING_ENABLED"

  [[metadata.configurations]]
    build = true
    description = "the application context path"
    name = "BP_TOMCAT_CONTEXT_PATH"

  [[metadata.configurations]]
    build = true
    default = ""
    description = "the application server to use"
    name = "BP_JAVA_APP_SERVER"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "Disable Tomcat's EnvironmentPropertySource"
    name = "BP_TOMCAT_ENV_PROPERTY_SOURCE_DISABLED"

  [[metadata.configurations]]
    build = true
    description = "the SHA256 hash of the external Tomcat configuration archive"
    name = "BP_TOMCAT_EXT_CONF_SHA256"

  [[metadata.configurations]]
    build = true
    default = "0"
    description = "the number of directory components to strip from the external Tomcat configuration archive"
    name = "BP_TOMCAT_EXT_CONF_STRIP"

  [[metadata.configurations]]
    build = true
    description = "the download location of the external Tomcat configuration"
    name = "BP_TOMCAT_EXT_CONF_URI"

  [[metadata.configurations]]
    build = true
    description = "the version of the external Tomcat configuration"
    name = "BP_TOMCAT_EXT_CONF_VERSION"

  [[metadata.configurations]]
    build = true
    default = "9.*"
    description = "the Tomcat version"
    name = "BP_TOMCAT_VERSION"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:8.5.99:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@8.5.99"
    sha256 = "d836b6bbf41d1f6b181d261954fe4eaaccdb67bc44caa0c578937b548c5bb71f"
    source = "https://archive.apache.org/dist/tomcat/tomcat-8/v8.5.99/src/apache-tomcat-8.5.99-src.tar.gz"
    source-sha256 = "62ade4d6bf615f78a5495b5ced831a63b1f8617804dfa6e9952a4240453dcda6"
    stacks = ["*"]
    uri = "https://archive.apache.org/dist/tomcat/tomcat-8/v8.5.99/bin/apache-tomcat-8.5.99.tar.gz"
    version = "8.5.99"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:9.0.86:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@9.0.86"
    sha256 = "24c493727d8a5e4aa83ff65a952834c7f828c478c5adbe88d0bfd15e9883999a"
    source = "https://archive.apache.org/dist/tomcat/tomcat-9/v9.0.86/src/apache-tomcat-9.0.86-src.tar.gz"
    source-sha256 = "cb908d98dfa5b6d4768b12f328ceee20a1b0ec71dceb5d623ec9a765c3124efe"
    stacks = ["*"]
    uri = "https://archive.apache.org/dist/tomcat/tomcat-9/v9.0.86/bin/apache-tomcat-9.0.86.tar.gz"
    version = "9.0.86"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:10.0.27:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@10.0.27"
    sha256 = "3766ad98e76156b1b1f3c79739cf56ce2abc927ec85b34de1721698abff91cb7"
    source = "https://archive.apache.org/dist/tomcat/tomcat-10/v10.0.27/src/apache-tomcat-10.0.27-src.tar.gz"
    source-sha256 = "bff23db976c652391e92a046caeac8e834d0c829fb88f6ba80dfd504e33a8f62"
    stacks = ["*"]
    uri = "https://archive.apache.org/dist/tomcat/tomcat-10/v10.0.27/bin/apache-tomcat-10.0.27.tar.gz"
    version = "10.0.27"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:apache:tomcat:10.1.18:*:*:*:*:*:*:*"]
    id = "tomcat"
    name = "Apache Tomcat"
    purl = "pkg:generic/apache-tomcat@10.1.18"
    sha256 = "6da0b4cbd3140e64a8719a2de19c20bf3902d264a142a816ac552ae216ade311"
    source = "https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.18/src/apache-tomcat-10.1.18-src.tar.gz"
    source-sha256 = "cd7cdd2ae143271893e486d6b809c69e4615c556bc9f9e2ebf186c409685545e"
    stacks = ["*"]
    uri = "https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.18/bin/apache-tomcat-10.1.18.tar.gz"
    version = "10.1.18"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://www.apache.org/licenses/"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-access-logging-support:3.4.0:*:*:*:*:*:*:*"]
    id = "tomcat-access-logging-support"
    name = "Apache Tomcat Access Logging Support"
    purl = "pkg:generic/tomcat-access-logging-support@3.4.0"
    sha256 = "b3452d5ffbf0652e0f44958a5cb306a961906280102e5fa1a15840d2ddb6bcc1"
    source = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-access-logging-support/3.4.0.RELEASE/tomcat-access-logging-support-3.4.0.RELEASE-sources.jar"
    source-sha256 = "857098bf8f03c38270403b91489346a13c997dcbf466de15da33f4a370e00a10"
    stacks = ["*"]
    uri = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-access-logging-support/3.4.0.RELEASE/tomcat-access-logging-support-3.4.0.RELEASE.jar"
    version = "3.4.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-lifecycle-support:3.4.0:*:*:*:*:*:*:*"]
    id = "tomcat-lifecycle-support"
    name = "Apache Tomcat Lifecycle Support"
    purl = "pkg:generic/tomcat-lifecycle-support@3.4.0"
    sha256 = "3861d32a91b58302fa936d6f84354e1874f71e59dd97b003efcc992a5a6f3c47"
    source = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-lifecycle-support/3.4.0.RELEASE/tomcat-lifecycle-support-3.4.0.RELEASE-sources.jar"
    source-sha256 = "a07fe091b4159825e1150249ad325f4ac018976b4c05ebc0e47b3e9bf021035e"
    stacks = ["*"]
    uri = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-lifecycle-support/3.4.0.RELEASE/tomcat-lifecycle-support-3.4.0.RELEASE.jar"
    version = "3.4.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:cloudfoundry:tomcat-logging-support:3.4.0:*:*:*:*:*:*:*"]
    id = "tomcat-logging-support"
    name = "Apache Tomcat Logging Support"
    purl = "pkg:generic/tomcat-logging-support@3.4.0"
    sha256 = "07de9efe8dda4c67dec6183ec1d59953abf1372cd71fe276fc4598739bd70667"
    source = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-logging-support/3.4.0.RELEASE/tomcat-logging-support-3.4.0.RELEASE-sources.jar"
    source-sha256 = "6f7e95e8d3b00b91e8266e683dc3b34d60b7687ec8a6ae10687daa43c94cf94d"
    stacks = ["*"]
    uri = "https://repo1.maven.org/maven2/org/cloudfoundry/tomcat-logging-support/3.4.0.RELEASE/tomcat-logging-support-3.4.0.RELEASE.jar"
    version = "3.4.0"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/cloudfoundry/java-buildpack-support/blob/main/LICENSE"

[[stacks]]
  id = "*"
